<router-outlet></router-outlet>

<div class="app">
  <div class="header">
    <div class="header-btns">
      <button pButton class="lists-btn mr-4" type="button" label="SAVED LISTS" icon="pi pi-list"></button>
      <button pButton class="p-button-text filter-btn mr-4" type="button" label="SAVED FILTERS" icon="pi pi-filter"></button>
      <button pButton class="p-button-text history-btn" type="button" label="SEARCH HISTORY" icon="pi pi-clock"></button>

      <input pInputText class="search-input" type="text" placeholder="Search"/>
    </div>

    <div class="header-search">
    </div>
  </div>

  <div class="body">
    <div class="row-data" style="width: 80%;">
      <p-table [value]="data">
          <ng-template pTemplate="header">
              <tr class="table-row-header">
                  <th class="table-heading color-c1 text-center" style="width:10%">Date</th>
                  <th class="table-heading color-c1" style="width:40%">List Name</th>
                  <th class="table-heading color-c1 text-right" style="width:20%">No. of Entities</th>
                  <th class="table-heading color-c1" style="width:20%; padding-left: 1.7em;">Actions</th>
                  <th class="table-heading color-c1" style="width:10%"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
              <tr class="table-row" [ngClass]="{'active': selectedId === data.id}">
                  <td class="table-cell color-c1">{{data.date | date:'MMM d'}}</td>
                  <td class="table-cell" [style.color]="data.entities.length == 0 ? '#002b42' : '#5cb8ec'">{{data.name}}</td>
                  <td class="table-cell text-right">{{data.entities.length}}</td>
                  <td class="table-cell row-actions">
                    <button pButton type="button" icon="pi pi-tags" class="p-button-text color-c1"></button>
                    <button *ngIf="data.entities.length != 0" pButton type="button" icon="pi pi-share-alt" class="p-button-text color-c1"></button>
                    <button *ngIf="data.entities.length != 0" pButton type="button" icon="pi pi-pencil" class="p-button-text color-c1"></button>
                    <button *ngIf="data.entities.length != 0" pButton type="button" icon="pi pi-trash" class="p-button-text color-c1"></button>
                  </td>
                  <td class="table-cell text-right">
                    <button pButton class="p-button-text details-btn" [ngClass]="{'active': selectedId === data.id}" type="button" label="Details" (click)="showDetails(data.id)"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
    </div>
    <div class="row-data-details">
      <div class="description color-c1">
        No description yet <span style="color: #074e71; font-weight: 700;">+Add Description</span>
      </div>
      <ul *ngIf="selectedId === 0 || selectedId" class="entity-list">
        <li class="entity" *ngFor="let entity of data[selectedId].entities">{{ entity.name }}</li>
      </ul>
    </div>
  </div>
</div>
