.header {
  .header-btns {
    .lists-btn {
      background-color: #002b42;
      border-color: #002b42;
    }
    .filter-btn {
      color: #002b42;
    }
    .history-btn {
      color: #002b42;
    }
    .search-input {
      float: right;
    }
  }
}

.body {

}
